h1{
    color:rgb(80, 2, 2);
    text-transform: lowercase;
    margin-top: 0;
    
}

#head2{
    text-transform: lowercase;
    color: #000;
}

.header2{
    font-style: italic;
}

.bg{
    background-color: aqua;
}
